# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages in Data Science
* list commonly used libraries in Data Science
* list of Data Science Developement Environment
* few examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql

## Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. numpy

|Data Science Tools|
|---------------------|
|Jupyter Notebook|
|R-studio|
|zeppelin Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mainak Mondal